
.container-home { 
    width: 100%;
    height: 815px;
    display: flex;
    padding: 1%;
    color: #FFF;
    flex-direction: row;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: #000 2px, 2px;
    justify-content: space-between;
    background-image: url("../../shared/img/background-containers.png");
}

.espaco-vazio { 
  width: 25%;
  height: 530px;
}

.form_solicitacao_viagem { 
  width: 50%;
  height: 530px;
  display: block;
  color: #FFF;
  padding: 1%;
  border-radius: 2%;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.form_solicitacao_viagem h1 { 
  font-size: 30px;
  text-align: center;
}

.form_solicitacao_viagem .input-field-form_solicitacao_viagem {
  width: 100%;
  height: 50px;
  margin: 30px auto;
  position: relative;
}

.input-field-form_solicitacao_viagem input {
  width: 100%;
  height: 100%;
  color: #FFF;
  outline: none;
  border-radius: 40px;
  padding: 20px 25px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.12);
  
}

.input-field-form_solicitacao_viagem .icon-form_solicitacao_viagem {
  top: 50%;
  right: 25px;
  color: #FFF;
  font-size: 18px;
  position: absolute;
  transform: translateY(-50%);
}

.icon-form_solicitacao_viagem-user {
  top: 50%;
  right: 48px;
  color: #FFF;
  font-size: 18px;
  position: absolute;
  transform: translateY(-50%);
}
.icon-form_solicitacao_viagem-origem {
  top: 50%;
  right: 43px;
  color: #FFF;
  font-size: 30px;
  position: absolute;
  transform: translateY(-50%);
}
.icon-form_solicitacao_viagem-destino {
  top: 50%;
  right: 43px;
  color: #FFF;
  font-size: 30px;
  position: absolute;
  transform: translateY(-50%);
}

.form_solicitacao_viagem .botao-home {
  width: 100%;
  height: 50px;
  border: none;  
  outline: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-shadow: none;
  padding: 15px 25px;
  border-radius: 40px;
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  box-shadow: 0 6px #BFBFBF;
}

.botao-home:hover {
  background-color: #F4F4F4
}

.botao-home:active {
  background-color: #F4F4F4;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

/*
@media screen and (max-width: 1280px) {
  .container-home {
        
    height: 815px;
    background-size: cover;
    background-image: url("../../shared/img/background-containers.png");
  }
  /*.form_solicitacao_viagem{ border: 5px rgb(0, 68, 255) solid;
    height: 815px;
  }*

}

@media only screen  and (min-width: 768px) and (max-width: 1024px) {
  .container-home {
  
    /*max-width: 1000px;*
    max-height: 760px;
    object-fit: cover;

    background-size: cover;
    background-image: url("../../shared/img/background-containers.png");
}
@media screen and (max-width: 600px) {
  .container-home {
    background-image: url("../../shared/img/background-containers.png");
  }
}

@media screen and (max-width: 480px) {
  .container-home {
    background-image: url("../../shared/img/background-containers.png");
  }
}

@media screen and (max-width: 320px) {
  .container-home {
    background-image: url("../../shared/img/background-containers.png");
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: *
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: *
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
*/



